*.ucs
*.vault_pass
*.iso
*.img
*.log
*.qkview
*.code-workspace
*.txt
*.rpm
*/secrets.yml
.env

vault/*
logs/*
qkviews/*
playbooks/group_vars/secrets.yml
playbooks/gtm/group_vars/secrets.yml
playbooks/ltm/group_vars/secrets.yml
playbooks/sys/group_vars/secrets.yml
playbooks/reference/*
playbooks/testing/*